<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--INFO: content =".." => Take up entire width of screen, used for mobile optimization-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <!--INFO: crossorigin request = CORS (Cross-Origin Resource Sharing) request for a resource from another domain -->
    <!--INFO : anonymous = no credentials are sent, other possible value would be use-credentials -->
    <!--INFO: CDN = content delivery network -->

    <title>{% block title %}Home{% endblock %}</title>
    <!-- a block in a base template can be overriden in a child template -->
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgb(245, 245, 245);">
      <div class="container-fluid">
        <a class="navbar-brand" href="/"><img src={{ url_for("static", filename="imgs/mesalogic_logo.png") }}></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbar"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse navbar-collapse" id="navbar">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="/about" style="color: black; font-size: 24px;">About</a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="/"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                style="color: black; font-size: 24px;"
              >
                Products
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/" style="color: black;">SCADA / HMI / GLT</a></li>
                <li><a class="dropdown-item" href="/" style="color: black;">CLOUD / IoT</a></li>
                <li><a class="dropdown-item" href="/" style="color: black;">KPI-MANAGEMENT</a></li>
                <li><a class="dropdown-item" href="/" style="color: black;">ALARM MANAGEMENT</a></li>
                <li><a class="dropdown-item" href="/" style="color: black;">REPORTING / ANALYTIX</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/downloads" style="color: black; font-size: 24px;">Downloads</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/partners" style="color: black; font-size: 24px;">Partners</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="content" align="center">{% block content %} {% endblock %}</div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
      defer
    ></script>
  </body>
</html>
